{% extends "base.html" %}

{% block content %}


<div class="container">

  {% block calendar %}

  <div class="d-flex justify-content-between">
    <h3>{{ month|date:"F Y" }}</h3>
    <div class="">
      <a class="btn btn-secondary mb-2" href="/calendar/{{ previous|date:"Y/n" }}" role="button">&#60; {{ previous|date:"F" }}</a>
      <a class="btn btn-secondary mb-2" href="/calendar/" role="button">Today</a>
      <a class="btn btn-secondary mb-2" href="/calendar/{{ next|date:"Y/n" }}" role="button">{{ next|date:"F" }} &#62;</a>
    </div>
  </div>

  <div class="container text-center">
    {{ calendar|safe}}
  </div>

  {% endblock %}

</div>

{% endblock %}