{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container my-md-4">
  <div class="d-flex justify-content-between">
      <h3>Medication</h3>
  </div>

  <form method="post">
    {% csrf_token %}
    {% crispy form %}
    <div class="d-flex justify-content-between">
      <input type="submit" value="Save" class="btn btn-primary">
  </form>
      {% if form.instance.pk != None %}
      <form method="post" action="{% url 'delete-medication' pk=form.instance.pk %}">
        {% csrf_token %}
        <input type="submit" value="Delete" class="btn btn-danger">
      </form>
      {% endif %}
    </div>

  <div class="modal fade" id="help" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLabel">Help information</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Enter the information for your medication and when to take it.<Br>
          By clicking the button <span class="text-primary">Save</span> you can save your changes.<Br>
          By clicking <span class="text-danger">Delete</span> you can remove the medication.
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}

