{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container my-md-4">
  <div class="d-flex justify-content-between">
      <h3>Medication</h3>
  </div>

  <form method="post">
    {% csrf_token %}
    {% crispy form %}
    <div class="d-flex justify-content-between">
      <input type="submit" value="Save" class="btn btn-primary">
  </form>
      {% if form.instance.pk != None %}
      <form method="post" action="{% url 'delete-medication' pk=form.instance.pk %}">
        {% csrf_token %}
        <input type="submit" value="Delete" class="btn btn-danger">
      </form>
      {% endif %}
    </div>

</div>

{% endblock %}

