{% extends "base.html" %}

{% block content %}

<div class="container mt-md-4">

  <div class="d-flex justify-content-between">
		<h3 class="pb-2">Medication</h3>
		<a class="btn btn-primary mb-3" href="{% url "add-medication" %}" role="button">Add new</a>
	</div>

  <ul class="list-group list-group-light my-2">
    {% for obj in object_list %}
    <a class="btn btn-rounded p-0 my-1" href="{% url 'edit-medication' pk=obj.pk %}" role="button">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <div class="ms-2">
            <p class="fw-bold mb-1 text-start">{{ obj.name }}</p>
            <p class="text-body-secondary mb-0">{{ obj.get_type_display }}: {{ obj.amount }} left</p>
          </div>
        </div>
        &#62;
      </li>
    </a>
    {% empty %}
        <li>No medication yet.</li>
    {% endfor %}
  </ul>

</div>

{% endblock %}