{% extends "base.html" %}

{% block content %}

<div class="d-flex justify-content-between">
  <div class="w-25"></div>
  <h1 class=" p-3">How do you feel today?</h1>
  <div class="w-25 d-flex justify-content-end align-items-center">
    <a href="{% url 'perception' %}" class="btn btn-secondary mb-2">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-short mb-1" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5"/>
      </svg>
      Back
    </a>
  </div>
</div>



<div class="d-flex justify-content-between mt-5 flex-xl-row flex-column align-items-center">
  <div class="m-2">
    <form method="post">
      {% csrf_token %}
      <input type="number" name="health" required="" hidden="" id="id_health" value="1">
      <button type="submit" value="" class="btn btn-outline-dark"><span style="font-size:1000%">😩️</span></button>
    </form>
  </div>
  <div class="m-2">
    <form method="post">
      {% csrf_token %}
      <input type="number" name="health" required="" hidden="" id="id_health" value="2">
      <button type="submit" value="" class="btn btn-outline-dark"><span style="font-size:1000%">🙁️</span></button>
    </form>
  </div>
  <div class="m-2">
    <form method="post">
      {% csrf_token %}
      <input type="number" name="health" required="" hidden="" id="id_health" value="3">
      <button type="submit" value="" class="btn btn-outline-dark"><span style="font-size:1000%">😐️</span></button>
    </form>
  </div>
  <div class="m-2">
    <form method="post">
      {% csrf_token %}
      <input type="number" name="health" required="" hidden="" id="id_health" value="4">
      <button type="submit" value="" class="btn btn-outline-dark"><span style="font-size:1000%">🙂️</span></button>
    </form>
  </div>
  <div class="m-2">
    <form method="post">
      {% csrf_token %}
      <input type="number" name="health" required="" hidden="" id="id_health" value="5">
      <button type="submit" class="btn btn-outline-dark"><span style="font-size:1000%">😀️</span></button>
    </form>
  </div>
</div>

<div class="modal fade" id="help" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Help information</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Click on the smiley that represents your current health perception the best.
        To see all your previously recorded perceptions, click on the button <span class="text-secondary">See all health perceptions</span>.
      </div>
    </div>
  </div>
</div>

{% endblock %}