.card:hover{
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.hover:hover{
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.asteriskField {
  color: red;
}

.form-check {
  margin-bottom: 1em;
}
input[type="checkbox"] {
  transform: scale(2);
  transform-origin: center;
  margin-right: 1em;
}
